/* CSS FOR DESKTOP FIRST */

.main-cart-mobile{
  margin-top: 80px;
  margin-bottom: 80px;
}

.main-cart-mobile .mobile-cart{
  width: 100%;
  border: 1px solid #dddddd;
  margin-bottom: 40px;
  padding: 20px;
}

.main-cart-mobile .mobile-cart .mobile-cart-detail{
  display: flex;
  justify-content: space-between;
}

.mobile-cart .mobile-cart-detail .left-mobile-cart{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mobile-cart-detail .left-mobile-cart img{
  width: 60%;
  margin-left: 10px;
  border: 1px solid #dddddd;
}

.left-mobile-cart a{
  color: grey;
  padding-right: 10px;
}

.mobile-cart-detail .right-mobile-cart{
  width: 50%;
}

.cart-product-title{
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.cart-product-price,.cart-product-quantity, .cart-product-total-price{
  display: flex;
}

.cart-product-price-content, .cart-product-quantity-content,.cart-product-total-price-content{
  margin-left: 10px;
}

.cart-product-total-price-content{
  font-weight: 700;
  color: #f15757;
}




.mobile-cart-payment button.btn-cart-mobile {
  padding: 10px 15px;
  border: none;
  background-color: #f15757;
  color: white;
  width: 200px;
  outline: none;
  margin-top: 20px;
  display: block;
}


.main-cart {
  margin-top: 80px;
  display: none;
  justify-content: space-between;
  margin-bottom: 80px;
}
.main-cart .over-flow {
  border: 1px solid #dddddd;
  width: 70%;
}
/* LEFT CART */
.main-cart .left-cart {
  width: 100%;
}

.main-cart .left-cart table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
}

th {
  background-color: #dedede4d;
  color: black;
  text-transform: uppercase;
}

td,
th {
  text-align: center;
  padding: 20px;
  width: 20%;
}

.item a {
  color: grey;
  padding-right: 10px;
}
td img {
  width: 60%;
  border: 1px solid #dddddd;
}

.left-cart .black-line {
  background-color: #dddddd;
}

.coupon {
  padding: 20px;
  align-items: center;
}

.coupon-title {
  padding-bottom: 20px;
}

.coupon-title {
  padding-right: 20px;
  margin-bottom: 0;
}

.coupon input {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 5px;
  margin-right: 10px;
}

.coupon button {
  padding: 5px 15px;
  border: none;
  background-color: #f15757;
  color: white;
  border-radius: 10px;
}
.mobile-cart-payment .right-cart{
  border: 1px solid #dddddd;
}


/* RIGHT CART */
.main-cart .right-cart {
  width: 25%;
  border: 1px solid #dddddd;
  height: 80%;
}

.right-cart h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  background-color: #dedede4d;
  padding: 20px;
  text-align: center;
  font-weight: 700;
}

.right-cart .no-vat-price {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0;
}

.right-cart .black-line {
  background-color: #dddddd;
}

.right-cart .vat-price {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 20px;
}

.right-cart button {
  padding: 10px 15px;
  border: none;
  background-color: #f15757;
  color: white;
  width: 100%;
  outline: none;
}

button.btn-cart-mobile {
  display: none;
}

/* BLACK LINE */

.black-line-cart {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

@media (min-width: 992px) {
  .main-cart-mobile{
    display: none;
  }

  .main-cart {
    display: flex;
  }

  

  .left-cart table {
    width: 100%;
  }

  td,
  th {
    width: 20%;
  }

  .coupon {
    display: flex;
  }

  .coupon-title {
    padding-right: 20px;
    margin-bottom: 0;
  }
  
  .coupon input {
    margin-right: 20px;
    border: 1px solid grey;
    padding: 5px;
  }
  
  .coupon button {
    padding: 5px 15px;
    border: none;
    background-color: #f15757;
    color: white;
    border-radius: 10px;
  }
  
}

.empty-cart{
  display: none;
}

.display-none{
  display: none;
}

.display-block{
  display: block;
  width: 100%;
}