.main-contact {
  margin-top: 40px;
}
.main-contact .left-contact .contact-item {
  margin-bottom: 20px;
}

.main-contact .left-contact .contact-item h3 {
  font-size: 20px;
  font-weight: 700;
}

.black-bottom-line{
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
.contact-title{
  text-transform: uppercase;
  font-weight: 700;
}
.input-contact{
  width: 70%;
  padding: 10px;
  border: 1px solid #dddddd;
  background-color: transparent;
  margin-bottom: 20px;
}

textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  background-color: transparent;
  margin-bottom: 20px;
}


.send-mess{
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #fd756d;
  opacity: 0.9;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: white;
}


@media (min-width: 992px) {
  .main-contact {
    display: flex;
    justify-content: space-between;
  }
  .main-contact .left-contact {
    width: 30%;
  }
  .main-contact .right-contact {
    width: 65%;
  }
  .main-contact .left-contact:last-child {
    margin-bottom: 0;
  }
}
